header {
    background-image: url('../images/headerbg.jpg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

nav {
    padding: 0px 1em;
}

nav .brand-logo {
    color: black;
}

nav .brand-logo {
    height: 100%;
}

nav .brand-logo .icon {
    width: auto;
    height: 80%;
    vertical-align: middle;
}

nav ul a {
    color: black;
}

nav ul a:hover,
nav ul li.active,
.side-nav li.active {
    background: transparent;
}

nav ul li {
    position: relative;
}

nav ul li::before,
nav ul li::after {
    content: '';
    border: 2px solid gray;
    position: absolute;
    width: 25px;
    height: 25px;
    transform: scale(0);
    transition: 0.4s all ease-out;
}

nav ul li::before {
    border-width: 2px 0px 0px 2px;
    left: 2px;
    top: 13px;
    transform-origin: left top;
}

ul.side-nav li::before {
    left: 3px;
    top: 3px;
}

ul.side-nav li::after {
    right: 3px;
    bottom: 3px;
}

nav ul li::after {
    border-width: 0px 2px 2px 0px;
    right: 2px;
    bottom: 13px;
    transform-origin: right bottom;
}

nav ul li:hover::before,
nav ul li:hover::after,
nav ul li.active::before,
nav ul li.active::after {
    transform: scale(1);
}

#sidenav-overlay {
    background-color: rgba(0, 0, 0, 0);
}

#section-two .card-panel {
    text-align: center;
}

#section-two .card-panel p {
    text-align: justify;
}

#section-three {
    background-image: url(../images/image1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1em 0em;
}

#section-three .card-panel {
    background: rgba(0, 0, 0, 0.5);
}

.customer-review blockquote p {
    text-indent: 30px;
    font-style: italic;
}

.customer-review blockquote::before {
    content: "\f10d";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    font-size: 1.5em;
}

.customer-review blockquote footer {
    margin-left: 15px;
    text-transform: capitalize;
}

.customer-review blockquote footer:before {
    content: '---';
    padding: 5px;
    font-weight: 600;
}

.carousel.carousel-slider .carousel-item {
    height: 50%;
    min-height: 200px;
}

.carousel.carousel-slider ul.indicators li.indicator-item {
    background-color: #b0bec5;
}

.carousel.carousel-slider ul.indicators li.indicator-item.active {
    background-color: #263238;
}

footer .social-links a {
    padding: 0.2em;
    color: white;
}